QStackedWidget {
    background-color: #f9f9f9;
    font-size: 15px;
    border: 1px solid #473939;
}

QPushButton#header {
    background-color:#f9f9f9;
    color: black;
    font-size:24px;
    font-family: "Optima", serif;
    font-weight: 200;
    border: 0;
    border-bottom: 2px solid black;
    /* image: url(guitar_icon.png);
    width: 30px;
    height: 30px;
    position: relative; */
}

QPushButton:hover#header {
    background-color:#f9f9f9;
    color: black;
    font-size:24px;
    font-family: "Optima", serif;
    font-weight: 200;
    border: 0;
    border-bottom: 2px solid #ba0505;
}


QPushButton#note-button{
    background-color:#f9f9f9;
    padding: 0;
    margin:0;
    color: black;
    font-size:24px;
    font-family: "Optima", serif;
    font-weight: 400;
    border:0;
}

QPushButton:hover#note-button{
    color: #ba0505;
    font-size:24px;
    font-family: "Optima", serif;
    font-weight: 400;
    border: 0;
    border-top: 1px solid #ba0505;
}

QPushButton#bar {
    border: 0;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 60px;
    height: 4px;
}

QLabel#tuning {
    color: black;
    font-size:24px;
    font-family: "Optima", serif;
    font-weight: normal;
}

QLabel {
    color: black;
    font-size:22px;
    font-family: "Optima", serif;
    font-weight: normal;
    border: 1px,1px,1px,1px, solid;
}

QComboBox {
    color: black;
    background-color: #f9f9f9;
    font-size:24px;
    font-family: "Optima", serif;
    font-weight: normal;
    border: 0;
}

QComboBox::drop-down {
    border: 0px;
}

QComboBox::down-arrow {
    image: url(icons/down_arrow.png);
    width: 30px;
    height: 30px;
}
